.interface {
  display: flex;
  width: 100%;
}
.interface-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.sidebar-outer {
  border-right: 1px solid black;
  padding: 20px;
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  width: 200px;
}
.chat-list {
  overflow-y: scroll;
}
.note-list {
  overflow-y: scroll;
}
.chat-outer {
  position: relative;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid black;
}
.messages {
  padding-top: 20px;
  overflow-y: scroll;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  height: 80vh;
  align-items: flex-start;
}
.message-form {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  margin: 20px;
}
.user-message {
  align-self: flex-end;

}
.bot-message {
  align-self: flex-start;
}
.notes-outer {
  padding: 20px;
}
.header {
  font-size: 1.8em;
}
.content {
  width: 100%;
  height: 80vh;
}
.note-list button, .chat-list button {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;    /* Hide overflowed text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
  max-width: 100%;     /* Set a maximum width for the button */
}