<div class='interface'>
    <div class="sidebar-outer">
        <h3>Perspective</h3>
        <h3>Chats</h3>
        <div class="chat-list">
            <button (click)="newChat()">New Chat</button>
            <button *ngFor="let chat of chats" (click)="selectChat(chat.id)">{{ chat.title }}</button>
        </div>
        <h3>Notes</h3>
        <div class="note-list">
            <button (click)="newNote()">New Note</button>
            <button (click)="selectNote(note)" *ngFor="let note of noteList">{{ note.title || 'Untitled' }}</button>
        </div>
        <button class='logout' (click)="logout()">Logout</button>
    </div>
    <div class="interface-inner">
        <div class="chat-outer">
            <button (click)="deleteNote(note.id)">Delete</button>
            <textarea class="header" (keydown)="disableEnter($event)">{{chat.title}}</textarea>
            <div class="messages">
                <div [class]="message.user ? 'user-message' : 'bot-message'" *ngFor="let message of messages">{{ message.text }}</div>
            </div>
            <form class="message-form" (ngSubmit)="submitMessage()">
                <div>
                    <input type="message" id="message" name="message" [(ngModel)]="message" required placeholder="Send a message..."/>
                </div>
                <button type="submit" style="display: none;">Send</button>
            </form>
        </div>
        <div class="notes-outer">
            <form class="note-content-form" [formGroup]="note_form">
                <button (click)="deleteNote(note.id)">Delete</button>
                <textarea class="header title" formControlName="title" (keydown)="disableEnter($event)">{{note.title}}</textarea>
                <textarea class="content" formControlName="content">{{note.content}}</textarea>
            </form>
        </div>
    </div>
</div>