.messages {
    overflow-y: scroll;
}
.message-form {
    position: relative;
    bottom: 0;
    margin-top: 30px;
}
.right-section {
    display: grid;
    grid-template-rows: 7fr 1fr;
    height: 100vh;
}