
<div class="router-component-outer  notes-outer">
    <div class="section left-section">
        <form (ngSubmit)="addNote()">
            <div>
                <!-- <label for="title">Title:</label> -->
                <input type="text" id="title" name="title" placeholder="New Note..." [(ngModel)]="new_title" required />
            </div>
            <!-- <div>
                <label for="content">Content:</label>
                <input type="text" id="content" name="content" [(ngModel)]="content" required />
            </div> -->
            <button style="display: none;" type="submit">Submit</button>
        </form>
        <button (click)="selectNote(note)" *ngFor="let note of noteList">{{ note.title || 'Untitled' }}</button>
    </div>

    <div class="section right-section">
        <form class="note-content-form">
            <textarea class="header">{{title}}</textarea>
            <textarea class="content">{{content}}</textarea>
        </form>
    </div>
</div>